@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

* {
    margin: 0;
    padding: 0;
}

img {
    margin-top: 10px;
    width: 12rem;
}

body {
    margin: 0px;
    font-family: "Roboto", "sans-serif";
    background-color: whitesmoke;
}

header {
    font-family: "shrikhand";
    text-align: center;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 255, 0.2);
    padding: 0.3rem;
    margin: 0;
    position: relative;
}

/* SEARCHBAR */
main .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #b5b3b34d;
    padding: 1rem;
}

main .city i {
    font-size: 1.5rem;
}

/* EXPLORER */

.explorer {
    text-align: center;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    /* margin-top: 2.3 rem ; */
    background-color: whitesmoke;
    margin-bottom: 2.3rem;
}

.explorer h1 {
    /* margin-top: 2rem; */
    font-size: 1.7rem;
}

.explorer p {
    font-size: 1.3rem;
    font-weight: 100;
}

.explorer button {
    background-image: linear-gradient(to top, #9356dc, #ff79da);
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 255, 0.2);
}

/* FONCTIONNEMENT */

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.fonctionnement h2 {
    margin-bottom: 2rem;
}

#fonctionnement_menu p {
    width: 97%;
    height: 65px;
    display: flex;
    align-items: center;

    /* justify-content: space-between; */
    background-color: #f6f6f6;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 255, 0.2);
}

#fonctionnement_menu .numero,
#fonctionnement_menu i {
    margin-right: 1.5rem;
}

#fonctionnement_menu .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9356dc;
    color: #f6f6f6;
    position: relative;
    left: -5px;
}

/*RESTAURANTS*/

.restaurants {
    padding: 0;
    margin-bottom: 2rem;
    margin-left: 0;
}

.restaurants section {
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 0rem;
    background-color: #f6f6f6;
}

.restaurants liste_restaurants {
    display: flex;
    flex-wrap: wrap;
}

.restaurant_card {
    display: flex;
    flex-direction: column;
    height: 220px;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    margin-right: 20px;
    margin-bottom: 17px;
    flex: 100%;
}

.restaurant_card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-top: 0px;
}

.restaurant_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding: 5px 10px;
}

.restaurant_description p,
h3 {
    margin: 0;
}

.description_disposition {
    display: flex;
    justify-content: space-between;
}

* FOOTER */ footer {
    background-color: #353535;
    color: white;
    margin-top: 5rem;
    padding-left: 1.5rem;
}

footer p {
    font-family: "shrikhand";
    padding-top: 1rem;
}

.heart {
    padding: 1rem;
    font-size: 21px;
}

/* COMMANDEZ */
.commander{
    display: grid;
    place-items: center;
}

.commander button {
    background-image: linear-gradient(to top, #9356dc, #ff79da);
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 255, 0.2);
    cursor: pointer;
    
}
.commander button:hover{
    transform: scale(1,1.2);
    opacity: 0.9;
}

/* RESTAURANT 1 */

.resto__title {
    padding: 0 1rem;
}

.resto__title h2 {
    font-family: "shrikhand", "sans-serif";
    padding: 2rem 1rem;
    position: relative;
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    margin: -1rem;
    margin-top: -2rem;
}

.header h1 {
    font-family: "shrikhand", "sans-serif";
}

.banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.resto-main {
    padding: 2rem;

}



.menus {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

.menus h3 {
text-transform: uppercase;
font-weight: 400;
position: relative;
/* h3 ::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width : 1.25rem;
    background-color: #99e2d0;
    top: 1.5rem;
    left: 0;
    width : 3;
} */
}

.menus__category {
    background-color: white;
    border-radius: 1rem;
    /* box-shadow: red; */
    overflow: hidden;
margin: 1rem;
}

.menu-item {
    display: flex;
    background-color: white;
    border-radius: 1rem;
  /* box-shadow: #353535; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}


.menu-item__price {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    font-weight: 900;
    padding: 1rem;

}


.menu-item__description {
    padding: 1rem;
    overflow: hidden;

    /* à verifier */
}

.menu-item__description h4 p {
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    /* à verifier */
}

.menu-item__check {
    border-radius: 0 1rem 1rem 0;
    background-color: #99e2d0;
    margin-right: -3rem;
    width: 3rem;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px rgba(242, 241, 241, 0.543);
    display: grid;
    place-items: center;
    flex-shrink: 0;

    animation: rotate 1s ease-in-out;

    @keyframes rotate {
        from {
            transform: rotate (-90deg);
        }

        to {
            transform: rotate (0);
        }
    }
}

.menu-item__check i {
    filter: invert(1);
    font-size: 1.3rem;
}


.menu-item__check:hover {
    margin-right: 0;

}




@media (max-width: 1000px) {
    .menus {
        grid-template-columns: 1fr;
    }
}